#menu-ul {
  list-style: none;
  position: relative;
  margin: 0;
}
#menu-ul .menu-item {
  font-size: 1rem;
}
#menu-ul .menu-item {
  /* position:static; */
  padding: 33px 12px;
}
#menu-ul li .item-link {
  color: #001538;
  padding: 0 10px;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 8px;
  -webkit-text-decoration-color: #00bce8;
  text-decoration-color: #00bce8;
  /* padding: 20px 8px 26px; */
  /* padding: 0 18px; */
  color: #3b3b3b;
  text-decoration: none;
  font-weight: 600;
}
#menu-ul .menu-item .item-link:hover {
  color: #001538;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 8px;
  -webkit-text-decoration-color: #00bce8;
  text-decoration-color: #00bce8;
}
.menu-item.active {
  background-color: #f7f7f7;
}
.main-navigation-mega-menu {
  display: none;
  position: absolute;
  top: 90px;
  right: 0;
  z-index: 2;
  background-color: #f7f7f7;
  width: 72%;
}
.main-navigation-mega-menu h2 {
  display: block;
  padding: 15px 0;
  margin: 0;
  font-size: 13px;
  font-size: 0.8125rem;
  font-weight: 700;
  color: #001538;
  text-transform: uppercase;
  text-align: left;
  letter-spacing: 0;
}
.main-navigation-mega-menu a {
  display: block;
  font-size: 0.875rem;
  font-weight: 400;
  color: #001538;
  text-align: left;
  text-decoration: none;
  transform: translateZ(0);
  padding: 11px 15px;
}
.header-logo {
}
.logo-row {
  text-decoration: none !important;
}
.company-name {
  text-decoration: none;
  color: #001538;
  margin-left: 5px;
  font-size: 26px;
  font-weight: 600;
  white-space: nowrap;
}

.header-logo img {
  height: 90px;
  object-fit: contain;
}
.footer-logo {
  width: 80px;
}
.footer-logo img {
  width: 80px;
  margin-top: -12px;
}
.tab-pane a {
  padding: 9px 11px;
}
.navigation-grouping a {
  border-left: 2px solid #00bce8;
}
.container2 {
  padding: 50px 100px 30px 120px;
}
.menu1 a:hover,
.tab-pane a:hover {
  color: #fff;
  background: #001538;
  text-decoration: none;
}
.close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #001538;
  cursor: pointer;
}
.tabs-left,
.tabs-right {
  border-bottom: none;
  padding-top: 2px;
}

.tabs-left > li,
.tabs-right > li {
  float: none;
}
.tabs-left > li {
  margin-right: -1px;
}
.tabs-right > li {
  margin-left: -1px;
}

.tabs-right > li > a {
  border-radius: 0 4px 4px 0;
  margin-right: 0;
}
.sideways {
  margin-top: 50px;
  border: none;
  position: relative;
}
.sideways > li {
  height: 20px;
  width: 120px;
  margin-bottom: 100px;
}
.sideways.tabs-left {
  left: -50px;
}
.sideways.tabs-right {
  right: -50px;
}
.sideways.tabs-right > li {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.sideways.tabs-left > li {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
#menu3 .col-sm-3 {
  background-color: #001538;
  padding-left: 40px;
  padding-top: 40px;
  padding-right: 0;
}
.nav {
  display: block !important;
}
.nav-tabs {
  border: none !important;
}
.nav li a {
  color: #fff;
}
.nav li.active {
  background-color: #f7f7f7;
}
.nav li.active a,
.nav li:hover a {
  color: #001538;
  text-decoration: none;
}
.nav li:hover {
  background-color: #f7f7f7;
  color: #001538;
}
.tab-pane {
  padding-top: 20px;
  padding-left: 40px;
  padding-bottom: 30px;
}
.component-content {
  color: #3b3b3b;
  font-size: 12.5px;
  margin-top: 10px;
}
