body {
  font-family: "Poppins", verdana, arial, helvetica, sans-serif !important;
}
/* .swiper-pagination {
    bottom: 5% !important;
} */
.mb-50 {
  margin-bottom: 50px;
}
.mt-50 {
  margin-top: 50px;
}
.container1 {
  max-width: 1380px;
  margin: auto;
}
header {
  /* padding: 30px 0 15px; */
  /* padding-top: 20px; */
}
.title1 {
  color: #001538;
  font-weight: 700;
  line-height: 1.25em;
  margin: 0 0 20px;
  padding: 0;
  font-size: 39px;
}
.content1 {
  color: #3b3b3b;
  line-height: 30px;
}
.btn1,.btn5 {
  background: #f7f7f7;
  height: 50px;
  line-height: 50px;
}
.btn3,
.btn4 {
  background-color: #fff;
  height: 44px;
  line-height: 44px;
}
.btn1,
.btn3,
.btn4,
.btn5 {
  position: relative;
  display: inline-block;
  padding: 0 40px 0 16px;
  color: #001538;
  border: 1px solid #dedede;

  font-size: 16px;
  font-size: 1rem;

  font-weight: 600;
}
.btn3 {
  padding: 0 52px 0 16px;
}
.btn4 {
  width: 100%;
  height: auto;
  padding: 4px 52px 4px 16px;
 
}
.btn5{
  box-shadow: inset 0 0 0 1px #8f8f8f;
  text-align: center;
  padding: 0 40px;
}
.btn4:after {
  position: absolute;
  top: 3px;
  right: 20px;
  font-family: "Font Awesome 5 Free";
  right: 17px;
  margin: 0;
  display: inline-block;
  /* margin: 0 0 0 15px; */
  content: "\f063";
  font-size: 17px;

  transition: all 0.2s ease-out;
}
.btn1:after,
.btn3:after {
  position: absolute;
  top: 0px;
  right: 20px;
  font-family: "Font Awesome 5 Free";
  right: 17px;
  margin: 0;
  display: inline-block;
  /* margin: 0 0 0 15px; */
  content: "\f105";
  font-size: 17px;

  transition: all 0.2s ease-out;
}
.btn1:hover,
.btn3:hover,
.btn4:hover,
.btn5:hover {
  border-color: #001538;
  text-decoration: none;
  transition: all 0.2s ease-out;
  color: #001538;
}

.btn1:hover::after,
.btn3:hover::after {
  transition: all 0.2s ease-out;
  transform: translateX(5px);
}

.btn4:hover::after {
  transition: all 0.2s ease-out;
  transform: translateY(5px);
}
.btn4 span {
  font-weight: lighter;
}
#section3 {
  padding-top: 50px;
  padding-bottom: 50px;
}
.wrapper {
  width: 47%;
  margin: auto;
  text-align: center;
  margin-bottom: 30px;
}
.banner1{
  background-image: url(../images/bannerrr.jpeg);
}
.section3-img {
  position: relative;
  height: 600px;
  -webkit-clip-path: polygon(
    50% 20px,
    51.5% 0,
    100% 0,
    100% 100%,
    0 100%,
    0 0,
    48.5% 0
  );
  clip-path: polygon(
    50% 20px,
    51.5% 0,
    100% 0,
    100% 100%,
    0 100%,
    0 0,
    48.5% 0
  );
}
.section3-img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.mt-20 {
  margin-top: -20px;
}
.section3-card,
.section3-card-2,
.section3-card-3,
.section3-card-4 {
  position: absolute;
  left: 50%;
  top: 50%;
  background-color: #fff;
}
.section3-card,
.section3-card-3 {
  transform: translate(-50%, -50%);
}
.section3-card-4 {
  transform: translate(0%, -50%);
}
.section3-card,
.section3-card-4 {
  width: 388px;
  padding: 25px 50px 30px;
}
.section3-card-2 {
  transform: translate(-100%, -50%);
  width: 388px;
  padding: 25px 50px 30px;
}
.section3-card-3 {
  width: 730px;
}
.section3-wrapper {
  padding: 25px 50px 30px;
}
.section3-title {
  margin: 0 0 20px;
  font-size: 2.5rem;
  line-height: 55px;
  color: #001538;
  font-weight: 700;
  text-align: center;
}
.btn2 {
  position: relative;
  display: inline-block;
  padding: 0 40px 0 16px;
  color: #001538;
  height: 50px;
  font-size: 16px;
  font-size: 1rem;
  line-height: 50px;
  font-weight: 600;
}
.btn2:after {
  position: absolute;
  top: 0px;
  right: 20px;
  font-family: "Font Awesome 5 Free";
  right: 17px;
  margin: 0;
  display: inline-block;
  /* margin: 0 0 0 15px; */
  content: "\f105";
  font-size: 17px;

  transition: all 0.2s ease-out;
}
.btn2:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 2px;
  -webkit-text-decoration-color: #001538;
  text-decoration-color: #001538;

  transition: all 0.2s ease-out;
  color: #001538;
}
.btn2:hover::after {
  transition: all 0.2s ease-out;
  transform: translateX(5px);
}
/*Section4*/
#section4 {
  padding: 35px 0;
}
.section4-img {
  position: relative;
}
.section4-img img {
  position: relative;
  width: 100%;
  z-index: 2;
  right: 20px;
  top: 20px;
}
#contact .section4-img:after {
  background: #f2f7fb;
}
.section4-img:before {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  width: 90%;
  height: 80%;
  content: "";
  background-color: #c4ecfc;
  z-index: 0;
}
.section4-img:after {
  display: block;
  position: absolute;
  bottom: 0;
  right: -1px;
  z-index: 1;
  width: 25%;
  height: 25%;
  content: "";
  -webkit-clip-path: polygon(8% 79%, 100% 0, 100% 100%, 8% 100%);
  clip-path: polygon(8% 79%, 100% 0, 100% 100%, 8% 100%);
  background-color: #fff;
}
/*News*/
#news {
  padding-top: 35px;
  padding-bottom: 60px;
}
.news-img img {
  width: 100%;
  height: 250px;
}
.news-content {
  margin-top: 15px;
}
.news-title {
  color: #001538;
  text-decoration: none;
  margin: 0 0 5px;
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 26px;
  font-weight: 600;
  color: #001538;
}
.news-title:hover {
  color: #001538;
}
.date {
  display: block;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 24px;
  color: #3b3b3b;
}
.news-text {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 24px;
  color: #3b3b3b;
}
/*Footer*/
footer {
  background-color: #f7f7f7;
  margin-top: 40px;
  padding-top: 30px;
  padding-bottom: 20px;
}
.footer-content p a {
  display: block;
  color: #3b3b3b;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
}
.footer-content p a:hover {
  text-decoration: underline;
}
.social-icons {
  margin-top: 20px;
  /* display: flex;
    justify-content: end; */
}
.social-icon {
  background: #fff;
  border-radius: 50%;
  margin-left: 8px;
  width: 34px;
  height: 34px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  line-height: 34px;
  transition: background-color 0.15s linear, color 0.15s linear;
}
.social-icon i {
  color: #001538;
  font-size: 1rem;
}
.social-icon:hover {
  background-color: #001538;
}
.social-icon:hover i {
  color: #fff;
}
/*Back To Top Btn*/
#back-to-top-btn {
  position: fixed;
  display: none;
  right: 0;
  bottom: 20px;
  z-index: 99;
  border: none;
  outline: none;

  -webkit-appearance: none;

  width: 65px;
  height: 65px;
  /* padding: 10px 0 0; */
  font-size: 16px;
  font-size: 1rem;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  background: #001538b3;
  opacity: 0;
  transition: all 0.2s ease-out;
  font-weight: 600;

  letter-spacing: -0.03em;
}
#back-to-top-btn i {
  display: block;
}
#back-to-top-btn:hover {
  background: #0073bc;
}
.btnEntrance {
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-name: btnEntrance;
}
/*fadeInUp*/
@keyframes btnEntrance {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
.btnExit {
  animation-duration: 0.3s;
  animation-fill-mode: both;
  animation-name: btnExit;
}
/*fadeOutDown*/
@keyframes btnExit {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
}
/*Contact Page*/
#contact {
  padding-top: 30px;
}
.contact-title {
  color: #001538;
  font-weight: 700;
  line-height: 1.25em;
  margin: 0 0 20px;
  padding: 0;
  font-size: 60px;
}
.contact-card-1 {
  border: 4px solid #00bce8;
}
.contact-card-2 {
  border: 4px solid #ffe000;
}
.contact-card-1,
.contact-card-2 {
  margin: 4px;
  width: 100%;
  margin-bottom: 30px;
}
.contact-card-inner {
  padding: 50px 80px;
  text-align: center;
}
.contact-card-header {
  color: #001538;
  font-size: 30px;
  font-size: 1.875rem;
  font-weight: 700;
  line-height: 36px;
  margin-bottom: 10px;
}
.contact-card-1 .card-content {
  margin-bottom: 50px;
}
.card-content {
  margin: 0 0 15px;
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 26px;
  font-weight: 600;
}
.email {
  color: #00578b;
  text-decoration: underline;
  font-weight: 600;
  margin-left: 5px;
}
.email:hover,
.details a:hover {
  color: #0073bc;
}
#careers {
  margin-top: 40px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #f2f7fb;
}
.careers-title {
  display: block;
  margin: 0 0 28px;
  font-size: 2.5rem;
  line-height: 34px;
  font-weight: 700;
  color: #001538;
}
.p-90 {
  padding: 0 90px !important;
}
.details a {
  color: #00578b;
  margin-left: 5px;
}
.details {
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 8px !important;

  text-decoration: underline;
}
.contact-wrapper {
  width: 55%;
  margin: auto;
  padding: 50px 0;
}
/*Products*/
.banner {
  height: 540px;
  display: flex;
  position: relative;
  justify-content: space-between;
  flex-wrap: wrap;
}
.banner-img {
  flex: 0 0 100%;
  position: static;
}
.banner-img img {
  width: 100%;
  max-height: 540px;
  object-fit: cover;
  object-position: 80% 80%;
}
.banner-text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 6%;
  background: #001538b3;
  padding: 24px 24px 30px;
}
.banner-text h1 {
  font-size: 4.5rem;
  line-height: 86px;
  color: #fff;
  font-weight: 700;
}
#products .products-wrapper {
  margin-bottom: 40px;
}
.products-text {
  margin-top: 60px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1280px;
}
.product-box {
  border: 1px solid #dedede;
  text-align: center;
  color: #3b3b3b;
  padding: 20px;
  /* margin-top: 40px; */
}
.product-img {
  height: 140px;
}
.product-img img {
  max-height: 130px;
}
.product-name {
  display: block;
  margin: 0 0 6px;
  font-size: 28px;
  font-size: 1.75rem;
  line-height: 32px;
  text-align: center;
  color: #001538;
  font-weight: 600;
  margin: 15px 0;
}
.product-detail {
  font-size: 15px;
}
.certifications {
  background-color: #f7f7f7;
  padding: 25px 0 60px;
}
.certifications .btn4{
  margin-bottom: 10px;
}
.other-pages {
  padding: 50px 0 10px;
}
.other-pages .col-md-4 {
  margin-bottom: 40px;
}
.title2 {
  font-size: 1.9375rem;
  letter-spacing: -0.025em;
  text-align: center;
  margin-bottom: 1.2em;
  color: #001538;
  font-weight: 700;
}
.product-box-2 {
  padding: 0 4.25%;
}
.img-wrapper {
  height: 215px;
}
.img-wrapper img {
  position: relative;
  object-fit: cover;
  width: 100%;
  max-height: 215px;
  z-index: 3;
}
.img-wrapper:after {
  top: -8px;
  right: 21px;
  display: block;
  position: absolute;

  z-index: -1;
  width: 75%;
  height: 53%;
  content: "";
}
.image3:after {
  background-color: #ffe000;
}
.image2:after {
  background-color: #0073bc;
}
.image1:after {
  background-color: #c1d32b;
}

.img-wrapper:before {
  display: block;
  position: absolute;
  bottom: 117px;
  right: -1px;
  z-index: 1;
  width: 25%;
  height: 25%;
  content: "";
  -webkit-clip-path: polygon(8% 79%, 100% 0, 100% 100%, 8% 100%);
  clip-path: polygon(8% 79%, 100% 0, 100% 100%, 8% 100%);
  background-color: #fff;
}
.theme-colour--1 {
  background-color: #f9f765;
  padding: 75px 240px 70px 80px;
}
.theme-colour--2 {
  background-color: #0073bc;
  padding: 75px 240px 70px 80px;
}
.theme-colour--1 p,
.theme-colour--2 p {
  font-size: 24px;
  line-height: 37px;
  font-weight: 700;
}
.theme-colour--1 p {
  color: #001538;
}
.theme-colour--2 p {
  color: #fff;
}
.details-1 {
  background-color: #f2f7fb;
  padding: 30px 0 10px;
}
.accordion .card {
  background-color: #fff;
  height: auto;
  border: 1px solid #fff;
  border-top: none;

  margin-bottom: 15px;
}
.accordion .card-header {
  background-color: #fff;
  height: auto;
  padding: 0;
  /* margin-bottom: 0 !important; */
  border: none;
}
.accordion .collapsing {
  /* border: 1px solid #001538; */
  border-bottom: none;
}
.accordion button.collapsed {
  /* border-top: 1px solid #001538; */
  border-radius: 0;
  line-height: 1.4;
  white-space: unset;
  font-weight: 600;
  cursor: pointer;
  background: none;
  color: #001538;
  font-size: 1.25rem;
  border: 1px solid white;
  border: none !important;
}
.accordion button:not(.collapsed) {
  position: relative;
  text-decoration: none !important;
  /* border: 1px solid #001538;
  border-bottom: none; */
}
.accordion button {
  position: relative;
  border: none;
  text-decoration: none;
  border-radius: 0;
  line-height: 1.4;
  white-space: unset;
  font-weight: 600;
  cursor: pointer;
  background: none;
  color: #001538;
  font-size: 1.25rem;
  padding: 10px 20px;
  outline: none;
}
.accordion button:after {
  position: absolute;
  font-family: "Font Awesome 5 Free";
  content: "\f077";
  right: 19px;
  top: 13px;
  font-size: 16px;
  transition: 0.3s ease-in-out;
}
.accordion button.collapsed:after {
  transform: rotate(180deg);
  transition: 0.3s ease-in-out;
}
.accordion button:hover {
  text-decoration: none !important;
  color: #001538;
}
/* .accordion button.collapsed:hover {
  border: 1px solid pink;
} */

.accordion button:focus {
  box-shadow: none;
  /* border-color: rgba(0,0,0,.125); */
}
.background-white {
  background-color: hsla(0, 0%, 100%, 0.9) !important;
  max-width: 560px;
}
.background-white h1 {
  color: #001538 !important;
  font-size: 3.5rem;
  line-height: 66px;
}
/*News Page*/
.title3{
  font-size: 5rem;
  color: #001538;
    font-weight: 700;
    line-height: 1.25em;
    margin: 0 0 20px;
    padding: 0;
}